<style type="text/css">
form h1 {
color: white;
text-align: center;
}
form {
font-size: 22px;
color: white;
}
input {
display: block;
clear: both;
}
fieldset {
margin: 1em 180;
background-color: pink;
}
label input {
display: block;
color: red;
}
body {
background: blue;
}
</style>
