<style type="text/css">
div p {
	color: white;
	text-align: center;
	font-size: 36;
}
 p 2 {
	color: white;
	text-align: left;
	font-size: 24;
}

fieldset img {
	display: block;
	float: right;
}
	fieldset input {
	float: right;
}
	form {
font-size: 22px;
color: blue;
}
	input {
display: block;
clear: both;
}
	fieldset {
margin: 1em 140;
background-color: pink;

}
	label input {
display: block;
color: red;
}
	body {
background: blue;

}
body p2 {
background: green;
font-size: 26;

}
.mytext{
	width: 300;
}
</style>
